/*
 * Copyright 2020 Alexandre Julliard
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "kernelbase.h"

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
{
	IDS_ATG "Antigua and Barbuda"
	IDS_AFG "Afghanistan"
	IDS_DZA "Algeria"
	IDS_AZE "Azerbaijan"
	IDS_ALB "Albania"
	IDS_ARM "Armenia"
	IDS_AND "Andorra"
	IDS_AGO "Angola"
	IDS_ASM "American Samoa"
	IDS_ARG "Argentina"
	IDS_AUS "Australia"
	IDS_AUT "Austria"
	IDS_BHR "Bahrain"
	IDS_BRB "Barbados"
	IDS_BWA "Botswana"
	IDS_BMU "Bermuda"
	IDS_BEL "Belgium"
	IDS_BHS "Bahamas, The"
	IDS_BGD "Bangladesh"
	IDS_BLZ "Belize"
	IDS_BIH "Bosnia and Herzegovina"
	IDS_BOL "Bolivia"
	IDS_MMR "Myanmar"
	IDS_BEN "Benin"
	IDS_BLR "Belarus"
	IDS_SLB "Solomon Islands"
	IDS_BRA "Brazil"
	IDS_BTN "Bhutan"
	IDS_BGR "Bulgaria"
	IDS_BRN "Brunei"
	IDS_BDI "Burundi"
	IDS_CAN "Canada"
	IDS_KHM "Cambodia"
	IDS_TCD "Chad"
	IDS_LKA "Sri Lanka"
	IDS_COG "Congo"
	IDS_COD "Congo (DRC)"
	IDS_CHN "China"
	IDS_CHL "Chile"
	IDS_CMR "Cameroon"
	IDS_COM "Comoros"
	IDS_COL "Colombia"
	IDS_CRI "Costa Rica"
	IDS_CAF "Central African Republic"
	IDS_CUB "Cuba"
	IDS_CPV "Cabo Verde"
	IDS_CYP "Cyprus"
	IDS_DNK "Denmark"
	IDS_DJI "Djibouti"
	IDS_DMA "Dominica"
	IDS_DOM "Dominican Republic"
	IDS_ECU "Ecuador"
	IDS_EGY "Egypt"
	IDS_IRL "Ireland"
	IDS_GNQ "Equatorial Guinea"
	IDS_EST "Estonia"
	IDS_ERI "Eritrea"
	IDS_SLV "El Salvador"
	IDS_ETH "Ethiopia"
	IDS_CZE "Czech Republic"
	IDS_FIN "Finland"
	IDS_FJI "Fiji"
	IDS_FSM "Micronesia"
	IDS_FRO "Faroe Islands"
	IDS_FRA "France"
	IDS_GMB "Gambia"
	IDS_GAB "Gabon"
	IDS_GEO "Georgia"
	IDS_GHA "Ghana"
	IDS_GIB "Gibraltar"
	IDS_GRD "Grenada"
	IDS_GRL "Greenland"
	IDS_DEU "Germany"
	IDS_GRC "Greece"
	IDS_GTM "Guatemala"
	IDS_GIN "Guinea"
	IDS_GUY "Guyana"
	IDS_HTI "Haiti"
	IDS_HKG "Hong Kong SAR"
	IDS_HND "Honduras"
	IDS_HRV "Croatia"
	IDS_HUN "Hungary"
	IDS_ISL "Iceland"
	IDS_IDN "Indonesia"
	IDS_IND "India"
	IDS_IOT "British Indian Ocean Territory"
	IDS_IRN "Iran"
	IDS_ISR "Israel"
	IDS_ITA "Italy"
	IDS_CIV "Côte d'Ivoire"
	IDS_IRQ "Iraq"
	IDS_JPN "Japan"
	IDS_JAM "Jamaica"
	IDS_SJM "Jan Mayen"
	IDS_JOR "Jordan"
	IDS_JHA "Johnston Atoll"
	IDS_KEN "Kenya"
	IDS_KGZ "Kyrgyzstan"
	IDS_PRK "North Korea"
	IDS_KIR "Kiribati"
	IDS_KOR "Korea"
	IDS_KWT "Kuwait"
	IDS_KAZ "Kazakhstan"
	IDS_LAO "Laos"
	IDS_LBN "Lebanon"
	IDS_LVA "Latvia"
	IDS_LTU "Lithuania"
	IDS_LBR "Liberia"
	IDS_SVK "Slovakia"
	IDS_LIE "Liechtenstein"
	IDS_LSO "Lesotho"
	IDS_LUX "Luxembourg"
	IDS_LBY "Libya"
	IDS_MDG "Madagascar"
	IDS_MAC "Macao SAR"
	IDS_MDA "Moldova"
	IDS_MNG "Mongolia"
	IDS_MWI "Malawi"
	IDS_MLI "Mali"
	IDS_MCO "Monaco"
	IDS_MAR "Morocco"
	IDS_MUS "Mauritius"
	IDS_MRT "Mauritania"
	IDS_MLT "Malta"
	IDS_OMN "Oman"
	IDS_MDV "Maldives"
	IDS_MEX "Mexico"
	IDS_MYS "Malaysia"
	IDS_MOZ "Mozambique"
	IDS_NER "Niger"
	IDS_VUT "Vanuatu"
	IDS_NGA "Nigeria"
	IDS_NLD "Netherlands"
	IDS_NOR "Norway"
	IDS_NPL "Nepal"
	IDS_NRU "Nauru"
	IDS_SUR "Suriname"
	IDS_NIC "Nicaragua"
	IDS_NZL "New Zealand"
	IDS_PSE "Palestinian Authority"
	IDS_PRY "Paraguay"
	IDS_PER "Peru"
	IDS_PAK "Pakistan"
	IDS_POL "Poland"
	IDS_PAN "Panama"
	IDS_PRT "Portugal"
	IDS_PNG "Papua New Guinea"
	IDS_PLW "Palau"
	IDS_GNB "Guinea-Bissau"
	IDS_QAT "Qatar"
	IDS_REU "Reunion"
	IDS_MHL "Marshall Islands"
	IDS_ROU "Romania"
	IDS_PHL "Philippines"
	IDS_PRI "Puerto Rico"
	IDS_RUS "Russia"
	IDS_RWA "Rwanda"
	IDS_SAU "Saudi Arabia"
	IDS_SPM "Saint Pierre and Miquelon"
	IDS_KNA "Saint Kitts and Nevis"
	IDS_SYC "Seychelles"
	IDS_ZAF "South Africa"
	IDS_SEN "Senegal"
	IDS_SVN "Slovenia"
	IDS_SLE "Sierra Leone"
	IDS_SMR "San Marino"
	IDS_SGP "Singapore"
	IDS_SOM "Somalia"
	IDS_ESP "Spain"
	IDS_LCA "Saint Lucia"
	IDS_SDN "Sudan"
	IDS_SVB "Svalbard"
	IDS_SWE "Sweden"
	IDS_SYR "Syria"
	IDS_CHE "Switzerland"
	IDS_ARE "United Arab Emirates"
	IDS_TTO "Trinidad and Tobago"
	IDS_THA "Thailand"
	IDS_TJK "Tajikistan"
	IDS_TON "Tonga"
	IDS_TGO "Togo"
	IDS_STP "São Tomé and Príncipe"
	IDS_TUN "Tunisia"
	IDS_TUR "Turkey"
	IDS_TUV "Tuvalu"
	IDS_TWN "Taiwan"
	IDS_TKM "Turkmenistan"
	IDS_TZA "Tanzania"
	IDS_UGA "Uganda"
	IDS_UKR "Ukraine"
	IDS_GBR "United Kingdom"
	IDS_USA "United States"
	IDS_BFA "Burkina Faso"
	IDS_URY "Uruguay"
	IDS_UZB "Uzbekistan"
	IDS_VCT "Saint Vincent and the Grenadines"
	IDS_VEN "Venezuela"
	IDS_VNM "Vietnam"
	IDS_VIR "U.S. Virgin Islands"
	IDS_VAT "Vatican City"
	IDS_NAM "Namibia"
	IDS_WKI "Wake Island"
	IDS_WSM "Samoa"
	IDS_SWZ "Eswatini"
	IDS_YEM "Yemen"
	IDS_ZMB "Zambia"
	IDS_ZWE "Zimbabwe"
	IDS_SCG "Serbia and Montenegro (Former)"
	IDS_MNE "Montenegro"
	IDS_SRB "Serbia"
	IDS_CUW "Curaçao"
	IDS_SSD "South Sudan"
	IDS_AIA "Anguilla"
	IDS_ATA "Antarctica"
	IDS_ABW "Aruba"
	IDS_ANI "Ascension Island"
	IDS_ACI "Ashmore and Cartier Islands"
	IDS_BKI "Baker Island"
	IDS_BVT "Bouvet Island"
	IDS_CYM "Cayman Islands"
	IDS_CHI "Channel Islands"
	IDS_CXR "Christmas Island"
	IDS_CPI "Clipperton Island"
	IDS_CCK "Cocos (Keeling) Islands"
	IDS_COK "Cook Islands"
	IDS_CSI "Coral Sea Islands"
	IDS_DGG "Diego Garcia"
	IDS_FLK "Falkland Islands"
	IDS_GUF "French Guiana"
	IDS_PYF "French Polynesia"
	IDS_ATF "French Southern Territories"
	IDS_GLP "Guadeloupe"
	IDS_GUM "Guam"
	IDS_GTB "Guantanamo Bay"
	IDS_GGY "Guernsey"
	IDS_HMD "Heard Island and McDonald Islands"
	IDS_HLI "Howland Island"
	IDS_JVI "Jarvis Island"
	IDS_JEY "Jersey"
	IDS_KGR "Kingman Reef"
	IDS_MTQ "Martinique"
	IDS_MYT "Mayotte"
	IDS_MSR "Montserrat"
	IDS_ANT "Netherlands Antilles (Former)"
	IDS_NCL "New Caledonia"
	IDS_NIU "Niue"
	IDS_NFK "Norfolk Island"
	IDS_MNP "Northern Mariana Islands"
	IDS_PMA "Palmyra Atoll"
	IDS_PCN "Pitcairn Islands"
	IDS_RTI "Rota Island"
	IDS_SPN "Saipan"
	IDS_SGS "South Georgia and the South Sandwich Islands"
	IDS_SHN "St Helena, Ascension and Tristan da Cunha"
	IDS_TNI "Tinian Island"
	IDS_TKL "Tokelau"
	IDS_TDC "Tristan da Cunha"
	IDS_TCA "Turks and Caicos Islands"
	IDS_VGB "British Virgin Islands"
	IDS_WLF "Wallis and Futuna"
	IDS_AFR "Africa"
	IDS_ASI "Asia"
	IDS_EUR "Europe"
	IDS_IMN "Isle of Man"
	IDS_MKD "North Macedonia"
	IDS_MAL "Melanesia"
	IDS_MIC "Micronesia"
	IDS_MDI "Midway Islands"
	IDS_NOA "Northern America"
	IDS_PLY "Polynesia"
	IDS_CNA "Central America"
	IDS_OCE "Oceania"
	IDS_SXM "Sint Maarten"
	IDS_STA "South America"
	IDS_MAF "Saint Martin"
	IDS_WRD "World"
	IDS_WEA "Western Africa"
	IDS_MIA "Middle Africa"
	IDS_NRA "Northern Africa"
	IDS_CTA "Central Asia"
	IDS_SEA "South-Eastern Asia"
	IDS_EAS "Eastern Asia"
	IDS_EAF "Eastern Africa"
	IDS_EEU "Eastern Europe"
	IDS_SEU "Southern Europe"
	IDS_MEA "Middle East"
	IDS_SAS "Southern Asia"
	IDS_TLS "Timor-Leste"
	IDS_XKS "Kosovo"
	IDS_AMS "Americas"
	IDS_ALA "Åland Islands"
	IDS_CRB "Caribbean"
	IDS_NEU "Northern Europe"
	IDS_SAF "Southern Africa"
	IDS_WEU "Western Europe"
	IDS_ANZ "Australia and New Zealand"
	IDS_BLM "Saint Barthélemy"
	IDS_UMI "U.S. Minor Outlying Islands"
	IDS_LAC "Latin America and the Caribbean"
	IDS_BES "Bonaire, Sint Eustatius and Saba"
}

/* @makedep: kernelbase.rgs */
1 WINE_REGISTRY kernelbase.rgs
